@font-face { font-family: Willkids; src: url(../media/font/Willkids.ttf); } 


@keyframes zoom {
    0% {width: 500px;}
    50% {width: 900px;}
    100% {width: 500px;}
}



html {
    overflow: hidden;
    cursor: url(../media/images/cursor.png), none;
    background: url(../media/images/bg.jpg);
    background-repeat: repeat;
    animation: animatedBackground 2s linear infinite;
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1235px 780px;
    }
}

#window {
    margin: auto;
    height: 800px;
    width: 550px;
    background-color: #ffbad3;
    border: 7px outset #ff96bc;
    padding: 6px
}

p1 {
    font-size: 29;
    font-family: Willkids;
    color: #ffffff
}

#kittywave {
    width: 500px;
    height: 344px;
    object-position: 24px 0px;
}

p2 {
    font-size: 17;
    font-family: Willkids;
    color: #ffffff
} 


#autistic {
    font-size: 85;
    font-family: Willkids;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

p3 {
    font-size: 23;
    font-family: Willkids;
    color: #ffffff
}

p4 {
    font-size: 17;
    font-family: HELP;
    color: #000000
} 

#buttons {
    display: table;
}

.button {
    cursor: url(../media/images/cursorclicker.png), none;
    font-size: 23;
    font-family: Willkids;
    color: #ffffff;
    background-color: rgb(255, 145, 182);
    border: 3px solid #ff96bc;
    border-radius: 35px;
    padding: 6px;
    width: 25%;
}
  
@-moz-document url-prefix() {
    .button {
        width: 24.45%;
    }
}
  

#kitty {
    width: 50px;
    height: 34px;
    position: fixed;
    bottom:0%;
    cursor: url(../media/images/cursorclicker.png), none;
}

#backdoor {
    position: fixed;
    width: 50px;
    height: 100px;
    bottom: 0%;
    right: 0%;
    z-index: -10;
    display: flex
}

#door {
    border: solid;
    border-color: #ff0000;
    border-width: 4px;
    position: fixed;
    width: 50px;
    height: 100px;
    bottom: 0%;
    right: 0%;
    z-index: 10;
}

.dooropen {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
